@import url("./theme.css");

.faculty-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  flex-direction: column;
}

.faculty-login form {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faculty-login h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.faculty-login h1 .logo {
  text-decoration: none;
}

.faculty-login h1 .logo:hover {
  color: inherit;
}

.faculty-login h1 span {
  color: var(--secondary-color);
}

.faculty-login .msg {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 400px;
  text-align: center;
}

.faculty-login .msg a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.faculty-login .msg a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.btnLogin {
  background-color: var(--primary-color) !important;
  color: var(--on-primary-color) !important;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btnLogin:hover {
  background-color: var(--secondary-color) !important;
  color: var(--on-secondary-color) !important;
}
