@import url("./theme.css");

.studSignup{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: var(--on-primary-color);
    flex-direction: column;
    text-align: center;
}
.studSignup h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.studSignup h1 .logo{
    text-decoration: none;
    color: var(--primary-color) ;
    text-align: center;
}

.studSignup form{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}


.studSignup .btnSignup{
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.studSignup .btnSignup:hover{
    background-color: var(--secondary-color);
}


/* media quires */

@media screen and (max-width: 768px){
    .studSignup form{
        width: 80%;
        border: 1px solid #ccc ;
        padding: 1rem;
        border-radius: 10px;
    }
}